main {
    min-height: 512px;
    padding: 20px;
}

@media (min-width: 260px) and (max-width: 768px) {
    main {
        background-color: #f8f9fa;
    }
}

@media (min-width: 769px) {
    main {
        background-color: #ffffff; 
        padding: 40px;
    }
}