button{
    background-color: #1e96d4!important;
    color: #0c1134!important;
}
*{
    color: #0c1134 !important;;
}
#login{
    background-color: rgba(12, 17, 52, 0.3);
}
#centro{
    background-color: white;
}